################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/.dockerignore
/src/.vs/**
/src/.vs/eshop-microservices/v17/.suo
/src/.vs/eshop-microservices/v17/DocumentLayout.json
